Code
eog
gnome-session
gtk-3.0
mimeapps.list
Slack
user-dirs.dirs
yay
dconf
gnome-control-center 
google-chrome 
ibus   
nautilus 
pulse
terminator
user-dirs.locale
.gsd-keyboard.settings-ported
gtk-4.0/
neofetch/
discord/
spotify/
monitors.xml
monitors.xml~
configstore/
gedit/
systemd/
nvim/plugin/
autostart/
enchant/
evolution/
gh/
gnome-initial-setup-done
libreoffice/
spotify-tui/

